
.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .menu {
    margin-bottom: 20px;
  }
  
  .menu-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu-button:hover {
    background-color: #0056b3;
  }
  
  .content {
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  
  .calculator {
    margin-top: 20px;
  }
  
  .input-box {
    font-size: 24px;
    padding: 10px;
    width: 100px;
    margin: 10px;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
  }
  

  .memes {
    margin-top: 20px;
  }
  
  .meme-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .meme-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .meme-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .meme-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
  }
  
  .meme-name {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  

  @media (max-width: 768px) {
    .meme-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .menu-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .button {
      font-size: 18px;
      padding: 8px 16px;
    }
  
    .input-box {
      font-size: 20px;
    }
  }

  .todo-list {
    padding: 20px;
  }
  
  .todo-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .todo-input {
    padding: 5px;
    width: 200px;
  }
  
  .todo-list-items {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f4f4f4;
  }
  
  .todo-list-items button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .todo-list-items button:hover {
    background-color: #45a049;
  }
  
  